@use "../abstracts" as *;

.modal {
	display: none;
	place-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba($color-dark, 0.5);
}
