@use "../abstracts/" as *;

.module {
	width: 1440px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5%;
	align-items: center;
	align-content: start;
	margin-top: 96px;
}

.module__content {
	justify-self: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 380px;
	height: 250px;
}

.module__image {
	justify-self: right;
	max-width: 505px;
	height: 300px;
}

.module__button {
	cursor: pointer;
	width: 128px;
	height: 48px;
	padding: 16px 40px 16px 40px;
	background-color: $color-primary;
	border: none;
	border-radius: 32px;
	font-family: $font;
	font-size: 1rem;
	color: #fff;
	text-align: center;
}

.module__title {
	font-family: $font;
	font-style: normal;
	font-size: 2.625rem;
	font-weight: 700;
	color: $color-dark;
}

.module__text {
	font-family: $font;
	font-style: normal;
	font-size: 1rem;
	font-weight: 300;
	color: $color-dark;
	text-align: justify;
	line-height: 150%;
}

.module__popup {
	display: none;
	place-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba($color-dark, 0.5);
}

.module__content--popup {
	justify-self: center;
	max-width: 920px;
	width: 920px;
	height: 210px;

	background-color: #fff;
}

.module__close-button {
	cursor: pointer;
	position: relative;
	top: calc(-210px + 46px);
	left: calc(920px - 46px);
	width: fit-content;
	height: fit-content;
}

.semibold {
	font-weight: 600;
}
